html, body {
    margin: 0;
}
body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;

}
.menu {
    width: 15%;
    background-color:lightblue;
    padding: 15px 15px 0px;
    
    

}
.header {
    min-height: 100px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(121, 187, 231);
    min-height: 150px;
    text-decoration-color: cornsilk;
    
}
Span {
    color:cornflowerblue;
    
}
table tr:hover td{
    background-color: rgb(127, 139, 207);
}
table th{
    background-color: lightblue;
    
}
table {
margin-left: auto;
margin-right: auto;
}
